*{
    margin: 0%;
    padding: 0%;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aqua;
}
.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(0,0,0,0.1);

}
h1{
    font-size: 2rem;
    color: #1f0dc0;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
}
.container .form{
    margin-top: 30px;
}
.form .inputf-box{
    width: 100%;
    margin-top: 20px;
}
.inputf-box label{
    color: #000;
    font-size: 1.1rem;
    /* text-transform: uppercase; */
    font-weight: 300;
}
.form :where(.inputf-box input, .select-box){
    position: relative;
    height: 50px;
    width: 95%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;

}
.form .column{
    display: flex;
    column-gap: 15px;
}
.form .gender{
    margin-top: 20px;
} 
.gender h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
    display: flex;
     text-align: center;
    column-gap: 50px;  
    flex-wrap: wrap;
}

.form .gender{
    column-gap: 5px;
    cursor: pointer;
} 
.gender input{
    accent-color: aqua;
}
.form :where(.gender input, .gender label){
    cursor: pointer;

}
.address :where(input, .select-box){
    margin-top: 15px;
}
.select-box select{
    height: 95%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
}
.form button{
    height: 55px;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.2s ease;
    background-color: aqua; 
}
button:hover{
    background-color: rgb(234, 255, 42);
    color: #000;
}
@media screen and (max-width: 500px){
    .form .column{
        flex-wrap: wrap;
    }  
}
.form :where(.gender-option, .gender) {
    row-gap: 15px;
}
.select-box{

}
